@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(to bottom right, #8B5CF6, #38BDF8);
  min-height: 100vh;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.bg-purple-400 {
  background-color: #8B5CF6;
}

.bg-blue-500 {
  background-color: #38BDF8;
}

.text-white {
  color: #ffffff;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-lg {
  font-size: 1.125rem;
}

.font-semibold {
  font-weight: 600;
}

  